/* Global Styles */
* {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 15px;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0 !important;
  border-radius: 15px;
}

.spectrogram-card {
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
  width: 90vw;
}


.spectrogram-card, .spectrogram-container, .audio-analizer, .progress-bar div {
  transition: all 0.3s ease;
}
