* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: #fff;
  border-radius: 15px;
}

html,
body {
  display: flex; /* Use flex instead of inline-flex for full width and height coverage */
  height: 100%;
  width: 100%; /* Ensure body takes full width */
  align-items: center;
  justify-content: center;
  background-color:#c0c0c0 !important; /* Ensure background color is applied */
  border-radius: 15px;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff; /* Change this to your desired color */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 94vw;
  height: 100%; /* Adjust width as needed */
  border-radius: 15px;
}

.audio-player audio {
  display: none; /* Hide the default audio player controls */
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 15px;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; /* Add padding to buttons */
  font-size: 24px; /* Increase icon size */
}

.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  border-radius: 15px;
  
}

.progress-bar {
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  height: 10px;
  background-color: #ddd;
  margin: 0 10px;
}

.progress-bar div {
  height: 100%;
  background-color: #000;
}

.progress-time {
  font-size: 14px;
  width: 40px;
  text-align: center;
}

.spectrogram-card {
  
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
  

}

.spectrogram-container {
  width: 96vw;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.inner{
  width: 95vw;
}

.audio-analizer{
  width: 96vw;
  height: 400px;
  background-color: #fff;
  color: #000;
  margin-top: 25px;
  font-size:large;
}
